name: Go Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.14
      - name: Install GO Modules
        run: |
          go mod tidy
          go mod download github.com/godror/godror
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v github.com/paypal/hera/worker/mysqlworker github.com/paypal/hera/utility/encoding/netstring github.com/paypal/hera/lib github.com/paypal/hera/common github.com/paypal/hera/cal
  container-job:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql
        env:
          MYSQL_ROOT_PASSWORD: 1-testDb
          MYSQL_DATABASE: heratestdb
        ports:
          - 3306:3306
      otel_basic-collector:
        image: otel/opentelemetry-collector-contrib:latest
        ports:
          - "4317:4317"  #gRPC port
          - "4318:4318" #HTTP port
        volumes:
          - ./otel_config.yaml:/etc/otel/config.yaml
          - ${{ github.workspace }}/otel_logs:/var/log/otel
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.14
      - name: Install GO Modules
        run: |
          go mod tidy
          go mod download github.com/godror/godror
      - name: Build worker
        run: go install github.com/paypal/hera/worker/mysqlworker
      - name: System Test
        run: |
          export GOPATH="/home/runner/go"
          echo $GOPATH
          tests/unittest/testall.sh
