name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v github.com/paypal/hera/worker/mysqlworker \
        github.com/paypal/hera/utility/encoding/netstring \
        github.com/paypal/hera/lib \
        github.com/paypal/hera/common \
        github.com/paypal/hera/cal \

