name: Go Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.14
      - name: Install GO Modules
        run: |
          go mod tidy
          go mod download github.com/godror/godror
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v github.com/paypal/hera/worker/mysqlworker github.com/paypal/hera/utility/encoding/netstring github.com/paypal/hera/lib github.com/paypal/hera/common github.com/paypal/hera/cal
  container-job:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql
        env:
          MYSQL_ROOT_PASSWORD: 1-testDb
          MYSQL_DATABASE: heratestdb
        ports:
          - 3306:3306
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.14
      - name: Install GO Modules
        run: |
          go mod tidy
          go mod download github.com/godror/godror
      - name: Give Full Permissions to Work Directory
        run: sudo chmod -R 777 /home/runner/work/
      - name: Build worker
        run: go install github.com/paypal/hera/worker/mysqlworker
      - name: Check docker version
        run: |   
              docker version
      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Verify Docker Compose Installation
        run: docker-compose --version
      - name: System Test
        run: |
          export GOPATH="/home/runner/go"
          echo $GOPATH
          tests/unittest/testall.sh
